.footercolor {
  color: white;
}
 
.footercolor a {
  text-decoration: none;
   color: #b5aeae;
}
.footer-btn {
  background-color: transparent;
  color: white;
  padding: 8px 14px;
  border: 1px solid #e6007aff;
}
.logo-img-footer{
   width: 145px;
   height: 31px;
}
