.navbar {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-img {
  height: 30px;
  width: 190px;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: black;
}

.nav-btn{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 32px;
  padding: 2px 14px;
}
.logo {
  width: 182px;
  height: 39px;
}
