.join-btn {
    border: 1px solid #e6007aff;
    padding: 15px 20px;
    color: #e6007aff;
  }
  .join a {
    text-decoration: none;
  }
  .join {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  