.tparachains-img{
    width: 200px;
    height: 146px;
}
.tpara-btn{
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
}
.tparachains{
    padding-top: 90px;
    padding-bottom: 90px;
}