* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif !important;
}
.comjoin {
  padding-top: 80px;
  padding-bottom: 100px;
}
.comrun {
  padding-top: 80px;
  padding-bottom: 100px;
}
.comvalidator {
  padding-top: 100px;
  padding-bottom: 100px;
}
.comget-btn {
  color: #e6007aff;
  border: 1px solid #e6007aff;
  border-radius: 50px;
}
.Comgetgrant {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #efefef ;
}
.comupcomming{
  background-image: url('./media/upcomming.jpg');
  background-size: cover;
  background-position: center;
  height: 73vh;
  padding-top: 60px;
  opacity: 0.8;
}
.comup-btn{
  border: 1px solid #e6007aff;
  border-radius: 50px;
  padding: 15px 20px;
}