/* .acard :hover{ */
$pink-color:#e6007aff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif !important;
}

// ---------------------------------Home Page -------------------------------
.network-bg {
  padding-top: 100px;
  padding-bottom: 20px;
  color: white;
}
.NC-bg {
  padding-bottom: 100px;
  .nc-img {
    vertical-align: middle;
    height: 200px;
    width: 200px;
  }
  .nc-btn {
    background-color: transparent;
    color: white;
    border: 1px solid $pink-color;
  }
}

.open--bg {
  background: linear-gradient(177deg,#e6007a,#dd5fe0);
  padding-top: 100px;
  padding-bottom: 100px;
  .open--img {
    vertical-align: middle;
    width: 80px;
  }
  .text-underline {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 24px;
      left: 0px;
      width: 100%;
      height: 1px;
      background-color: white;
    }
  }
}
.founded-bg {
  background: url("./media/summit.jpg")  no-repeat center;
  background-size: cover;
  
  height: 60vh;
  opacity: 0.9;
  .founded-btn {
    border: 1px solid #e6007aff;
  }
}
.blog {
  padding-top: 100px;

  .card-img-top {
    width: 100%;
    height: auto;
  }
  .card-img {
    height: 180px;
    width: 100%;
  }
  .pinkcolor {
    color: #e6007aff;
  }
  .avatar {
    height: 32px;
    width: 32px;
  }
}

// ***********************************Technology Page*****************************
.Tsalalable {
  height: 60vh;
}

.tsection {
  background-color: #172026;
  padding-bottom: 100px;
  .card {
    position: relative;
    top: -20px;
  }
  .t-card-img {
   
    width: 50px;
  }
  .card{
    position: relative;
    &:hover{
      top: -30px;
    }
  }
  
  .Tsection-big-img {
    overflow: hidden;
    min-height: 400px;
    background-image: url("../public/assets/network11.svg");
    background-repeat: no-repeat;   
    background-position: 50%;
    background-size: cover;
    // height: 80vh;
    
  }
}
.Tnetwork {
  background: linear-gradient(177deg,#e6007a,#dd5fe0);

  padding-top: 150px;
  padding-bottom: 200px;
}
.tconnecting {
  padding-top: 100px;
  padding-bottom: 100px;
  
  .tconnecting-card-img {    
    width: 128px;
  }
  @media  only screen and (max-width:768px){
    .tconnecting-card-1{

      img{
        display: block;
        margin: auto;
      }
      text-align: center;
    }
  }
}

.tbuild {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #efefef ;
  .Tbuild-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .text-underline {
    position: relative;
  }
  .text-underline::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #e6007aff;
  }
}

.tparachains {
  padding-top: 90px;
  padding-bottom: 90px;
  .tparachains-img {
    width: 200px;
    height: 146px;
  }
  .tpara-btn {
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
  }
}
.Tground {
  background: linear-gradient(177deg,#e6007a,#dd5fe0);
  padding-top: 150px;
  padding-bottom: 200px;
  @media only screen and (max-width:768px){
    padding-top: 50px;
  padding-bottom: 50px;
  }
}

.tbetter-p {
  padding-top: 100px;
  padding-bottom: 100px;
  .tbetter-img {
    max-height: 200px;
    width: 100%;
    height: auto;
  }
  
}

.txcm {
  padding-top: 100px;
  padding-bottom: 100px;
  .txcm-img {
    max-height: 200px;
    width: 100%;
    height: auto;
  }
}

.tgreen {
  padding-top: 100px;
  padding-bottom: 100px;
  .tgreen-img {
    max-height: 200px;
    width: 100%;
    height: auto;
  }
}

.ttransparent {
  padding-top: 100px;
  padding-bottom: 100px;
  .ttransparent-img {
    max-height: 200px;
    width: 100%;
    height: auto;
  }
}

.tonchain {
  padding-top: 100px;
  padding-bottom: 100px;
  .tonchain-img {
    max-height: 200px;
    width: 100%;
    height: auto;
  }
}

.tgrandpa {
  padding-top: 100px;
  padding-bottom: 100px;
  .tgrandpa-img {
    max-height: 200px;
    width: 100%;
    height: auto;
  }
}
.Troadmap {
  background: linear-gradient(177deg,#e6007a,#dd5fe0);
  padding-top: 150px;
  padding-bottom: 200px;
  .troad-btn {
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px 20px;
    font-weight: bold;
  }
}
.tteam {
  padding-top: 90px;
  padding-bottom: 90px;
}


// **********************************Community Page******************************

.comjoin {
  padding-top: 80px;
  padding-bottom: 100px;
}
.comrun {
  padding-top: 80px;
  padding-bottom: 100px;
}
.comvalidator {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Comgetgrant {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #efefef;
  .comget-btn {
    color: #e6007aff;
    border: 1px solid #e6007aff;
    border-radius: 50px;
  }
}
.comupcomming {
  background-image: url("./media/upcomming.jpg");
  background-size: cover;
  background-position: center;
  height: 73vh;
  padding-top: 60px;
  opacity: 0.8;
  .comup-btn {
    border: 1px solid #e6007aff;
    border-radius: 50px;
    padding: 15px 20px;
  }
}
.comsection {
  .t-card-img {
    height: 42px;
    width: 43px;
  }
}



// ------------------------------------About page----------------------------


.Atouch {
  padding-top: 90px;
  padding-bottom: 90px;
  .Atouch-color{
      color: #E6007AFF;
  }
  .t-card-img{
      height: 42px;
      width: 43px;
  }
  /* .text-underline{
    text-decoration: underline;
  } */
}


// ---------------------------Contact Have-------------------------------

.conthave{
  padding-top: 100px;
  padding-bottom: 120px;
  .conthave-btn {
      border: 1px solid #E6007AFF ;
      color: #E6007AFF;
      border-radius: 50px;
      padding: 15px 20px;
  }
}
// -----------------------------------Blog Page---------------------------

.bpolkadot{
  margin-top: 100px;
  .card-img-top{
      height: auto;
      width: 100%;
  }
  .pinkcolor{
      color:  #E6007AFF;
  }
}

.Bsubscribe{
  padding-top: 100px;
  padding-bottom: 120px;
  .sub-btn{
      border: 1px solid #E6007AFF ;
      color: #E6007AFF;
      border-radius: 50px;
  }
}
// ------------------------------------------Commons---------------------
.commonbtn{
  padding: 16px 20px;
  border-radius: 32px;
  color:  #E6007AFF;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid  #E6007AFF;
}

.commonbase {
  padding-top: 100px;
  padding-bottom: 100px;

  .commonbase-btn {
    border: 1px solid $pink-color;
    color: $pink-color;
    padding: 16px 20px;
    background-color: transparent;
    border-radius: 2rem;
  }
}